Avanserte tillegg/Infrastructure/main.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "_generator": {
      "name": "bicep",
      "version": "0.41.2.15936",
      "templateHash": "4887631758720806318"
    },
    "description": "Main template for deploying Prosjektportalen Advanced Add-ons solution"
  },
  "parameters": {
    "projectPrefix": {
      "type": "string",
      "minLength": 2,
      "maxLength": 10,
      "metadata": {
        "description": "Project name prefix (used for naming resources)"
      }
    },
    "environment": {
      "type": "string",
      "defaultValue": "prod",
      "minLength": 2,
      "maxLength": 5,
      "metadata": {
        "description": "Environment (e.g., prod, test, dev)"
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Location for all resources"
      }
    },
    "sharePointConnectionDisplayName": {
      "type": "string",
      "metadata": {
        "description": "Display name for the SharePoint Online connection (usually an email address)"
      }
    },
    "automationConnectionDisplayName": {
      "type": "string",
      "defaultValue": "Project Portal Automation",
      "metadata": {
        "description": "Display name for the Azure Automation connection"
      }
    },
    "office365ConnectionDisplayName": {
      "type": "string",
      "metadata": {
        "description": "Display name for the Office 365 connection (usually an email address)"
      }
    },
    "hubSiteUrl": {
      "type": "string",
      "metadata": {
        "description": "SharePoint hub site URL (e.g., https://contoso.sharepoint.com/sites/projectportal)"
      }
    },
    "projectListGuid": {
      "type": "string",
      "metadata": {
        "description": "SharePoint project list GUID"
      }
    },
    "listViewGuid": {
      "type": "string",
      "metadata": {
        "description": "SharePoint list view GUID"
      }
    },
    "finishedPhaseText": {
      "type": "string",
      "defaultValue": "Ferdig",
      "metadata": {
        "description": "Localized term for \"Finished\" phase status"
      }
    },
    "language": {
      "type": "string",
      "defaultValue": "nb-NO",
      "metadata": {
        "description": "Language code for localization"
      }
    },
    "archiveStatusName": {
      "type": "string",
      "defaultValue": "Avsluttet",
      "metadata": {
        "description": "Localized text for archived project status"
      }
    },
    "defaultManagerRole": {
      "type": "string",
      "defaultValue": "Full Kontroll",
      "metadata": {
        "description": "Default SharePoint permission level for project managers"
      }
    },
    "archiveBannerText": {
      "type": "string",
      "defaultValue": "Dette området er arkivert og skrivebeskyttet. Ta kontakt med administrator for å aktivere området igjen.",
      "metadata": {
        "description": "Message displayed on archived project sites"
      }
    },
    "dateCalculationRules": {
      "type": "object",
      "defaultValue": {
        "inspectionPeriodYears": 1,
        "waiverPeriodYears": 3,
        "complaintPeriodYears": 5
      },
      "metadata": {
        "description": "Rules for calculating project milestone dates"
      }
    },
    "folderStructure": {
      "type": "object",
      "defaultValue": {
        "planningPhase": [
          "01 Planlegging",
          "02 Prosjektering"
        ],
        "buildingPhase": [
          "03 Bygging",
          "04 Ferdigstillelse",
          "05 Oppfølging"
        ]
      },
      "metadata": {
        "description": "Standard folder structure for project document libraries"
      }
    },
    "logLevel": {
      "type": "string",
      "defaultValue": "Info",
      "metadata": {
        "description": "Logging level for automation scripts"
      }
    },
    "runbookScriptsBaseUrl": {
      "type": "string",
      "defaultValue": "https://raw.githubusercontent.com/Puzzlepart/prosjektportalen365-addons/master/Avanserte%20tillegg/Infrastructure/scripts/",
      "metadata": {
        "description": "Base URL for runbook script files (raw GitHub URL ending with /)"
      }
    },
    "runbooksToDeploy": {
      "type": "array",
      "defaultValue": [
        "ArchiveSite",
        "GetSiteInformation",
        "UpdateProjectDates",
        "UpdateProjectManager"
      ],
      "metadata": {
        "description": "Array of runbooks to deploy"
      }
    },
    "logicAppsToDeploy": {
      "type": "array",
      "defaultValue": [
        "ChangeArchiveState",
        "PhaseChanged",
        "ProjectInfoChanged",
        "RequestProjectAccess"
      ],
      "metadata": {
        "description": "Array of logic apps to deploy"
      }
    },
    "deploySharePointConnector": {
      "type": "bool",
      "defaultValue": true,
      "metadata": {
        "description": "Deploy SharePoint Online connector"
      }
    },
    "deployAutomationConnector": {
      "type": "bool",
      "defaultValue": true,
      "metadata": {
        "description": "Deploy Azure Automation connector"
      }
    },
    "deployOffice365Connector": {
      "type": "bool",
      "defaultValue": true,
      "metadata": {
        "description": "Deploy Office 365 connector"
      }
    },
    "tags": {
      "type": "object",
      "defaultValue": {
        "Environment": "[parameters('environment')]",
        "Project": "ProjectPortal",
        "ManagedBy": "ProjectPortalAutomation"
      },
      "metadata": {
        "description": "Resource tags"
      }
    }
  },
  "variables": {
    "automationAccountName": "[format('{0}-{1}-automation', parameters('projectPrefix'), parameters('environment'))]",
    "sharePointConnectionName": "sharepointonline",
    "automationConnectionName": "azureautomation",
    "changeArchiveStateLogicAppName": "[format('{0}-{1}-ChangeArchiveState', parameters('projectPrefix'), parameters('environment'))]",
    "phaseChangedLogicAppName": "[format('{0}-{1}-PhaseChanged', parameters('projectPrefix'), parameters('environment'))]",
    "projectInfoChangedLogicAppName": "[format('{0}-{1}-ProjectInfoChanged', parameters('projectPrefix'), parameters('environment'))]",
    "requestProjectAccessLogicAppName": "[format('{0}-{1}-RequestProjectAccess', parameters('projectPrefix'), parameters('environment'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "automationAccount-deployment",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "automationAccountName": {
            "value": "[variables('automationAccountName')]"
          },
          "location": {
            "value": "[parameters('location')]"
          },
          "tags": {
            "value": "[parameters('tags')]"
          },
          "language": {
            "value": "[parameters('language')]"
          },
          "archiveStatusName": {
            "value": "[parameters('archiveStatusName')]"
          },
          "defaultManagerRole": {
            "value": "[parameters('defaultManagerRole')]"
          },
          "archiveBannerText": {
            "value": "[parameters('archiveBannerText')]"
          },
          "dateCalculationRules": {
            "value": "[parameters('dateCalculationRules')]"
          },
          "folderStructure": {
            "value": "[parameters('folderStructure')]"
          },
          "logLevel": {
            "value": "[parameters('logLevel')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.41.2.15936",
              "templateHash": "12435933874566378519"
            }
          },
          "parameters": {
            "automationAccountName": {
              "type": "string",
              "metadata": {
                "description": "Name of the Azure Automation Account"
              }
            },
            "location": {
              "type": "string",
              "defaultValue": "[resourceGroup().location]",
              "metadata": {
                "description": "Location for the automation account"
              }
            },
            "tags": {
              "type": "object",
              "defaultValue": {},
              "metadata": {
                "description": "Resource tags"
              }
            },
            "language": {
              "type": "string",
              "defaultValue": "nb-NO",
              "metadata": {
                "description": "Language code for localization"
              }
            },
            "archiveStatusName": {
              "type": "string",
              "defaultValue": "Avsluttet",
              "metadata": {
                "description": "Localized text for archived project status"
              }
            },
            "defaultManagerRole": {
              "type": "string",
              "defaultValue": "Full Kontroll",
              "metadata": {
                "description": "Default SharePoint permission level for project managers"
              }
            },
            "archiveBannerText": {
              "type": "string",
              "defaultValue": "Dette området er arkivert og skrivebeskyttet. Ta kontakt med administrator for å aktivere området igjen.",
              "metadata": {
                "description": "Message displayed on archived project sites"
              }
            },
            "dateCalculationRules": {
              "type": "object",
              "defaultValue": {
                "inspectionPeriodYears": 1,
                "waiverPeriodYears": 3,
                "complaintPeriodYears": 5
              },
              "metadata": {
                "description": "Rules for calculating project milestone dates"
              }
            },
            "folderStructure": {
              "type": "object",
              "defaultValue": {
                "planningPhase": [
                  "01 Planlegging",
                  "02 Prosjektering"
                ],
                "buildingPhase": [
                  "03 Bygging",
                  "04 Ferdigstillelse",
                  "05 Oppfølging"
                ]
              },
              "metadata": {
                "description": "Standard folder structure for project document libraries"
              }
            },
            "logLevel": {
              "type": "string",
              "defaultValue": "Info",
              "metadata": {
                "description": "Logging level for automation scripts"
              }
            }
          },
          "resources": [
            {
              "type": "Microsoft.Automation/automationAccounts",
              "apiVersion": "2024-10-23",
              "name": "[parameters('automationAccountName')]",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]",
              "identity": {
                "type": "SystemAssigned"
              },
              "properties": {
                "publicNetworkAccess": true,
                "disableLocalAuth": false,
                "sku": {
                  "name": "Basic"
                },
                "encryption": {
                  "keySource": "Microsoft.Automation",
                  "identity": {}
                }
              }
            },
            {
              "type": "Microsoft.Automation/automationAccounts/variables",
              "apiVersion": "2024-10-23",
              "name": "[format('{0}/{1}', parameters('automationAccountName'), 'Language')]",
              "properties": {
                "description": "Language code for localization",
                "value": "[format('\"{0}\"', parameters('language'))]",
                "isEncrypted": false
              },
              "dependsOn": [
                "[resourceId('Microsoft.Automation/automationAccounts', parameters('automationAccountName'))]"
              ]
            },
            {
              "type": "Microsoft.Automation/automationAccounts/variables",
              "apiVersion": "2024-10-23",
              "name": "[format('{0}/{1}', parameters('automationAccountName'), 'ArchiveStatusName')]",
              "properties": {
                "description": "Localized text for archived project status",
                "value": "[format('\"{0}\"', parameters('archiveStatusName'))]",
                "isEncrypted": false
              },
              "dependsOn": [
                "[resourceId('Microsoft.Automation/automationAccounts', parameters('automationAccountName'))]"
              ]
            },
            {
              "type": "Microsoft.Automation/automationAccounts/variables",
              "apiVersion": "2024-10-23",
              "name": "[format('{0}/{1}', parameters('automationAccountName'), 'DefaultManagerRole')]",
              "properties": {
                "description": "Default SharePoint permission level for project managers",
                "value": "[format('\"{0}\"', parameters('defaultManagerRole'))]",
                "isEncrypted": false
              },
              "dependsOn": [
                "[resourceId('Microsoft.Automation/automationAccounts', parameters('automationAccountName'))]"
              ]
            },
            {
              "type": "Microsoft.Automation/automationAccounts/variables",
              "apiVersion": "2024-10-23",
              "name": "[format('{0}/{1}', parameters('automationAccountName'), 'ArchiveBannerText')]",
              "properties": {
                "description": "Message displayed on archived project sites",
                "value": "[format('\"{0}\"', parameters('archiveBannerText'))]",
                "isEncrypted": false
              },
              "dependsOn": [
                "[resourceId('Microsoft.Automation/automationAccounts', parameters('automationAccountName'))]"
              ]
            },
            {
              "type": "Microsoft.Automation/automationAccounts/variables",
              "apiVersion": "2024-10-23",
              "name": "[format('{0}/{1}', parameters('automationAccountName'), 'DateCalculationRules')]",
              "properties": {
                "description": "Rules for calculating project milestone dates as JSON",
                "value": "[format('\"{0}\"', replace(string(parameters('dateCalculationRules')), '\"', '\\\"'))]",
                "isEncrypted": false
              },
              "dependsOn": [
                "[resourceId('Microsoft.Automation/automationAccounts', parameters('automationAccountName'))]"
              ]
            },
            {
              "type": "Microsoft.Automation/automationAccounts/variables",
              "apiVersion": "2024-10-23",
              "name": "[format('{0}/{1}', parameters('automationAccountName'), 'FolderStructure')]",
              "properties": {
                "description": "Standard folder structure for project document libraries as JSON",
                "value": "[format('\"{0}\"', replace(string(parameters('folderStructure')), '\"', '\\\"'))]",
                "isEncrypted": false
              },
              "dependsOn": [
                "[resourceId('Microsoft.Automation/automationAccounts', parameters('automationAccountName'))]"
              ]
            },
            {
              "type": "Microsoft.Automation/automationAccounts/variables",
              "apiVersion": "2024-10-23",
              "name": "[format('{0}/{1}', parameters('automationAccountName'), 'LogLevel')]",
              "properties": {
                "description": "Logging level for automation scripts",
                "value": "[format('\"{0}\"', parameters('logLevel'))]",
                "isEncrypted": false
              },
              "dependsOn": [
                "[resourceId('Microsoft.Automation/automationAccounts', parameters('automationAccountName'))]"
              ]
            }
          ],
          "outputs": {
            "automationAccountId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Automation/automationAccounts', parameters('automationAccountName'))]"
            },
            "automationAccountName": {
              "type": "string",
              "value": "[parameters('automationAccountName')]"
            },
            "managedIdentityPrincipalId": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.Automation/automationAccounts', parameters('automationAccountName')), '2024-10-23', 'full').identity.principalId]"
            }
          }
        }
      }
    },
    {
      "condition": "[contains(parameters('runbooksToDeploy'), 'ArchiveSite')]",
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "archiveSite-runbook",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "automationAccountName": {
            "value": "[variables('automationAccountName')]"
          },
          "location": {
            "value": "[parameters('location')]"
          },
          "tags": {
            "value": "[parameters('tags')]"
          },
          "scriptUri": {
            "value": "[format('{0}ArchiveSite.ps1', parameters('runbookScriptsBaseUrl'))]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.41.2.15936",
              "templateHash": "17239745627901364100"
            }
          },
          "parameters": {
            "automationAccountName": {
              "type": "string",
              "metadata": {
                "description": "Name of the automation account"
              }
            },
            "location": {
              "type": "string",
              "defaultValue": "[resourceGroup().location]",
              "metadata": {
                "description": "Location for the runbook resource"
              }
            },
            "tags": {
              "type": "object",
              "defaultValue": {},
              "metadata": {
                "description": "Resource tags"
              }
            },
            "scriptUri": {
              "type": "string",
              "metadata": {
                "description": "URI to the runbook script file"
              }
            }
          },
          "resources": [
            {
              "type": "Microsoft.Automation/automationAccounts/runbooks",
              "apiVersion": "2024-10-23",
              "name": "[format('{0}/{1}', parameters('automationAccountName'), 'ArchiveSite')]",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]",
              "properties": {
                "logVerbose": false,
                "logProgress": false,
                "logActivityTrace": 0,
                "runbookType": "PowerShell72",
                "description": "Archives a SharePoint project site by changing permissions and moving to archive",
                "publishContentLink": {
                  "uri": "[parameters('scriptUri')]"
                }
              }
            }
          ],
          "outputs": {
            "runbookName": {
              "type": "string",
              "value": "ArchiveSite"
            },
            "runbookId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Automation/automationAccounts/runbooks', parameters('automationAccountName'), 'ArchiveSite')]"
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Resources/deployments', 'automationAccount-deployment')]"
      ]
    },
    {
      "condition": "[contains(parameters('runbooksToDeploy'), 'GetSiteInformation')]",
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "getSiteInfo-runbook",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "automationAccountName": {
            "value": "[variables('automationAccountName')]"
          },
          "location": {
            "value": "[parameters('location')]"
          },
          "tags": {
            "value": "[parameters('tags')]"
          },
          "scriptUri": {
            "value": "[format('{0}GetSiteInformation.ps1', parameters('runbookScriptsBaseUrl'))]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.41.2.15936",
              "templateHash": "16633247131446542212"
            }
          },
          "parameters": {
            "automationAccountName": {
              "type": "string",
              "metadata": {
                "description": "Name of the automation account"
              }
            },
            "location": {
              "type": "string",
              "defaultValue": "[resourceGroup().location]",
              "metadata": {
                "description": "Location for the runbook resource"
              }
            },
            "tags": {
              "type": "object",
              "defaultValue": {},
              "metadata": {
                "description": "Resource tags"
              }
            },
            "scriptUri": {
              "type": "string",
              "metadata": {
                "description": "URI to the runbook script file"
              }
            }
          },
          "resources": [
            {
              "type": "Microsoft.Automation/automationAccounts/runbooks",
              "apiVersion": "2024-10-23",
              "name": "[format('{0}/{1}', parameters('automationAccountName'), 'GetSiteInformation')]",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]",
              "properties": {
                "logVerbose": false,
                "logProgress": false,
                "logActivityTrace": 0,
                "runbookType": "PowerShell72",
                "description": "Retrieves SharePoint project site information including group ID, hub site URL, and phase",
                "publishContentLink": {
                  "uri": "[parameters('scriptUri')]"
                }
              }
            }
          ],
          "outputs": {
            "runbookName": {
              "type": "string",
              "value": "GetSiteInformation"
            },
            "runbookId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Automation/automationAccounts/runbooks', parameters('automationAccountName'), 'GetSiteInformation')]"
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Resources/deployments', 'automationAccount-deployment')]"
      ]
    },
    {
      "condition": "[contains(parameters('runbooksToDeploy'), 'UpdateProjectDates')]",
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "updateDates-runbook",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "automationAccountName": {
            "value": "[variables('automationAccountName')]"
          },
          "location": {
            "value": "[parameters('location')]"
          },
          "tags": {
            "value": "[parameters('tags')]"
          },
          "scriptUri": {
            "value": "[format('{0}UpdateProjectDates.ps1', parameters('runbookScriptsBaseUrl'))]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.41.2.15936",
              "templateHash": "5623095956217040791"
            }
          },
          "parameters": {
            "automationAccountName": {
              "type": "string",
              "metadata": {
                "description": "Name of the automation account"
              }
            },
            "location": {
              "type": "string",
              "defaultValue": "[resourceGroup().location]",
              "metadata": {
                "description": "Location for the runbook resource"
              }
            },
            "tags": {
              "type": "object",
              "defaultValue": {},
              "metadata": {
                "description": "Resource tags"
              }
            },
            "scriptUri": {
              "type": "string",
              "metadata": {
                "description": "URI to the runbook script file"
              }
            }
          },
          "resources": [
            {
              "type": "Microsoft.Automation/automationAccounts/runbooks",
              "apiVersion": "2024-10-23",
              "name": "[format('{0}/{1}', parameters('automationAccountName'), 'UpdateProjectDates')]",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]",
              "properties": {
                "logVerbose": false,
                "logProgress": false,
                "logActivityTrace": 0,
                "runbookType": "PowerShell72",
                "description": "Updates project dates in SharePoint lists based on task dates from project sites",
                "publishContentLink": {
                  "uri": "[parameters('scriptUri')]"
                }
              }
            }
          ],
          "outputs": {
            "runbookName": {
              "type": "string",
              "value": "UpdateProjectDates"
            },
            "runbookId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Automation/automationAccounts/runbooks', parameters('automationAccountName'), 'UpdateProjectDates')]"
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Resources/deployments', 'automationAccount-deployment')]"
      ]
    },
    {
      "condition": "[contains(parameters('runbooksToDeploy'), 'UpdateProjectManager')]",
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "updateManager-runbook",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "automationAccountName": {
            "value": "[variables('automationAccountName')]"
          },
          "location": {
            "value": "[parameters('location')]"
          },
          "tags": {
            "value": "[parameters('tags')]"
          },
          "scriptUri": {
            "value": "[format('{0}UpdateProjectManager.ps1', parameters('runbookScriptsBaseUrl'))]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.41.2.15936",
              "templateHash": "6354029005483131948"
            }
          },
          "parameters": {
            "automationAccountName": {
              "type": "string",
              "metadata": {
                "description": "Name of the automation account"
              }
            },
            "location": {
              "type": "string",
              "defaultValue": "[resourceGroup().location]",
              "metadata": {
                "description": "Location for the runbook resource"
              }
            },
            "tags": {
              "type": "object",
              "defaultValue": {},
              "metadata": {
                "description": "Resource tags"
              }
            },
            "scriptUri": {
              "type": "string",
              "metadata": {
                "description": "URI to the runbook script file"
              }
            }
          },
          "resources": [
            {
              "type": "Microsoft.Automation/automationAccounts/runbooks",
              "apiVersion": "2024-10-23",
              "name": "[format('{0}/{1}', parameters('automationAccountName'), 'UpdateProjectManager')]",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]",
              "properties": {
                "logVerbose": false,
                "logProgress": false,
                "logActivityTrace": 0,
                "runbookType": "PowerShell72",
                "description": "Updates project manager information in SharePoint lists and project site permissions",
                "publishContentLink": {
                  "uri": "[parameters('scriptUri')]"
                }
              }
            }
          ],
          "outputs": {
            "runbookName": {
              "type": "string",
              "value": "UpdateProjectManager"
            },
            "runbookId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Automation/automationAccounts/runbooks', parameters('automationAccountName'), 'UpdateProjectManager')]"
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Resources/deployments', 'automationAccount-deployment')]"
      ]
    },
    {
      "condition": "[parameters('deploySharePointConnector')]",
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "sharepoint-connection",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "sharePointOnlineConnectionName": {
            "value": "[variables('sharePointConnectionName')]"
          },
          "location": {
            "value": "[parameters('location')]"
          },
          "displayName": {
            "value": "[parameters('sharePointConnectionDisplayName')]"
          },
          "tags": {
            "value": "[parameters('tags')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.41.2.15936",
              "templateHash": "12156721293751725611"
            }
          },
          "parameters": {
            "sharePointOnlineConnectionName": {
              "type": "string",
              "defaultValue": "sharepointonline",
              "metadata": {
                "description": "Name of the SharePoint Online connection"
              }
            },
            "location": {
              "type": "string",
              "defaultValue": "[resourceGroup().location]",
              "metadata": {
                "description": "Location for the connection resource"
              }
            },
            "displayName": {
              "type": "string",
              "metadata": {
                "description": "Display name for the SharePoint Online connection (usually an email address)"
              }
            },
            "subscriptionId": {
              "type": "string",
              "defaultValue": "[subscription().subscriptionId]",
              "metadata": {
                "description": "Subscription ID"
              }
            },
            "tags": {
              "type": "object",
              "defaultValue": {},
              "metadata": {
                "description": "Resource tags"
              }
            }
          },
          "resources": [
            {
              "type": "Microsoft.Web/connections",
              "apiVersion": "2016-06-01",
              "name": "[parameters('sharePointOnlineConnectionName')]",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]",
              "kind": "V1",
              "properties": {
                "displayName": "[parameters('displayName')]",
                "statuses": [
                  {
                    "status": "Ready"
                  }
                ],
                "customParameterValues": {},
                "nonSecretParameterValues": {},
                "api": {
                  "name": "[parameters('sharePointOnlineConnectionName')]",
                  "displayName": "SharePoint",
                  "description": "SharePoint helps organizations share and collaborate with colleagues, partners, and customers. You can connect to SharePoint Online or to an on-premises SharePoint 2016 or 2019 farm using the On-Premises Data Gateway to manage documents and list items.",
                  "iconUri": "[format('https://conn-afd-prod-endpoint-bmc9bqahasf3grgk.b01.azurefd.net/releases/v1.0.1769/1.0.1769.4361/{0}/icon.png', parameters('sharePointOnlineConnectionName'))]",
                  "id": "[format('/subscriptions/{0}/providers/Microsoft.Web/locations/{1}/managedApis/{2}', parameters('subscriptionId'), parameters('location'), parameters('sharePointOnlineConnectionName'))]",
                  "type": "Microsoft.Web/locations/managedApis"
                },
                "testLinks": [
                  {
                    "requestUri": "[format('{0}subscriptions/{1}/resourceGroups/{2}/providers/Microsoft.Web/connections/{3}/extensions/proxy/datasets?api-version=2016-06-01', environment().resourceManager, parameters('subscriptionId'), resourceGroup().name, parameters('sharePointOnlineConnectionName'))]",
                    "method": "get"
                  }
                ]
              }
            }
          ],
          "outputs": {
            "connectionId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Web/connections', parameters('sharePointOnlineConnectionName'))]"
            },
            "connectionName": {
              "type": "string",
              "value": "[parameters('sharePointOnlineConnectionName')]"
            }
          }
        }
      }
    },
    {
      "condition": "[parameters('deployAutomationConnector')]",
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "automation-connection",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "azureAutomationConnectionName": {
            "value": "[variables('automationConnectionName')]"
          },
          "location": {
            "value": "[parameters('location')]"
          },
          "displayName": {
            "value": "[parameters('automationConnectionDisplayName')]"
          },
          "tags": {
            "value": "[parameters('tags')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.41.2.15936",
              "templateHash": "11324599089821100162"
            }
          },
          "parameters": {
            "azureAutomationConnectionName": {
              "type": "string",
              "defaultValue": "azureautomation",
              "metadata": {
                "description": "Name of the Azure Automation connection"
              }
            },
            "location": {
              "type": "string",
              "defaultValue": "[resourceGroup().location]",
              "metadata": {
                "description": "Location for the connection resource"
              }
            },
            "displayName": {
              "type": "string",
              "metadata": {
                "description": "Display name for the Azure Automation connection"
              }
            },
            "subscriptionId": {
              "type": "string",
              "defaultValue": "[subscription().subscriptionId]",
              "metadata": {
                "description": "Subscription ID"
              }
            },
            "tags": {
              "type": "object",
              "defaultValue": {},
              "metadata": {
                "description": "Resource tags"
              }
            }
          },
          "resources": [
            {
              "type": "Microsoft.Web/connections",
              "apiVersion": "2016-06-01",
              "name": "[parameters('azureAutomationConnectionName')]",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]",
              "kind": "V1",
              "properties": {
                "displayName": "[parameters('displayName')]",
                "parameterValueType": "Alternative",
                "statuses": [
                  {
                    "status": "Ready"
                  }
                ],
                "customParameterValues": {},
                "api": {
                  "name": "[parameters('azureAutomationConnectionName')]",
                  "displayName": "Azure Automation",
                  "description": "Azure Automation provides tools to manage your cloud and on-premises infrastructure seamlessly.",
                  "iconUri": "[format('https://conn-afd-prod-endpoint-bmc9bqahasf3grgk.b01.azurefd.net/releases/v1.0.1793/1.0.1793.4565/{0}/icon.png', parameters('azureAutomationConnectionName'))]",
                  "id": "[format('/subscriptions/{0}/providers/Microsoft.Web/locations/{1}/managedApis/{2}', parameters('subscriptionId'), parameters('location'), parameters('azureAutomationConnectionName'))]",
                  "type": "Microsoft.Web/locations/managedApis"
                },
                "testLinks": []
              }
            }
          ],
          "outputs": {
            "connectionId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Web/connections', parameters('azureAutomationConnectionName'))]"
            },
            "connectionName": {
              "type": "string",
              "value": "[parameters('azureAutomationConnectionName')]"
            }
          }
        }
      }
    },
    {
      "condition": "[parameters('deployOffice365Connector')]",
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "office365-connection",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "office365ConnectionName": {
            "value": "office365"
          },
          "location": {
            "value": "[parameters('location')]"
          },
          "displayName": {
            "value": "[parameters('office365ConnectionDisplayName')]"
          },
          "tags": {
            "value": "[parameters('tags')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.41.2.15936",
              "templateHash": "8097752431038262618"
            }
          },
          "parameters": {
            "office365ConnectionName": {
              "type": "string",
              "defaultValue": "office365",
              "metadata": {
                "description": "Name of the Office 365 connection"
              }
            },
            "location": {
              "type": "string",
              "defaultValue": "[resourceGroup().location]",
              "metadata": {
                "description": "Location for the connection resource"
              }
            },
            "displayName": {
              "type": "string",
              "metadata": {
                "description": "Display name for the Office 365 connection (usually an email address)"
              }
            },
            "subscriptionId": {
              "type": "string",
              "defaultValue": "[subscription().subscriptionId]",
              "metadata": {
                "description": "Subscription ID"
              }
            },
            "tags": {
              "type": "object",
              "defaultValue": {},
              "metadata": {
                "description": "Resource tags"
              }
            }
          },
          "resources": [
            {
              "type": "Microsoft.Web/connections",
              "apiVersion": "2016-06-01",
              "name": "[parameters('office365ConnectionName')]",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]",
              "kind": "V1",
              "properties": {
                "displayName": "[parameters('displayName')]",
                "statuses": [
                  {
                    "status": "Ready"
                  }
                ],
                "customParameterValues": {},
                "nonSecretParameterValues": {},
                "api": {
                  "name": "[parameters('office365ConnectionName')]",
                  "displayName": "Office 365 Outlook",
                  "description": "Microsoft Office 365 is a cloud-based service that is designed to help meet your organization's needs for robust security, reliability, and user productivity.",
                  "iconUri": "[format('https://conn-afd-prod-endpoint-bmc9bqahasf3grgk.b01.azurefd.net/releases/v1.0.1769/1.0.1769.4361/{0}/icon.png', parameters('office365ConnectionName'))]",
                  "id": "[format('/subscriptions/{0}/providers/Microsoft.Web/locations/{1}/managedApis/{2}', parameters('subscriptionId'), parameters('location'), parameters('office365ConnectionName'))]",
                  "type": "Microsoft.Web/locations/managedApis"
                },
                "testLinks": []
              }
            }
          ],
          "outputs": {
            "connectionId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Web/connections', parameters('office365ConnectionName'))]"
            },
            "connectionName": {
              "type": "string",
              "value": "[parameters('office365ConnectionName')]"
            }
          }
        }
      }
    },
    {
      "condition": "[and(contains(parameters('logicAppsToDeploy'), 'ChangeArchiveState'), parameters('deployAutomationConnector'))]",
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "changeArchiveState-logicapp",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "logicAppName": {
            "value": "[variables('changeArchiveStateLogicAppName')]"
          },
          "location": {
            "value": "[parameters('location')]"
          },
          "automationAccountName": {
            "value": "[variables('automationAccountName')]"
          },
          "automationConnectionId": {
            "value": "[reference(resourceId('Microsoft.Resources/deployments', 'automation-connection'), '2025-04-01').outputs.connectionId.value]"
          },
          "tags": {
            "value": "[parameters('tags')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.41.2.15936",
              "templateHash": "6326389238048331335"
            }
          },
          "parameters": {
            "logicAppName": {
              "type": "string",
              "defaultValue": "ChangeArchiveState",
              "metadata": {
                "description": "Name of the ChangeArchiveState Logic App"
              }
            },
            "location": {
              "type": "string",
              "defaultValue": "[resourceGroup().location]",
              "metadata": {
                "description": "Location for the logic app"
              }
            },
            "subscriptionId": {
              "type": "string",
              "defaultValue": "[subscription().subscriptionId]",
              "metadata": {
                "description": "Subscription ID"
              }
            },
            "resourceGroupName": {
              "type": "string",
              "defaultValue": "[resourceGroup().name]",
              "metadata": {
                "description": "Resource group name"
              }
            },
            "automationAccountName": {
              "type": "string",
              "metadata": {
                "description": "Name of the automation account"
              }
            },
            "automationConnectionId": {
              "type": "string",
              "metadata": {
                "description": "Connection ID for Azure Automation connection"
              }
            },
            "tags": {
              "type": "object",
              "defaultValue": {},
              "metadata": {
                "description": "Resource tags"
              }
            }
          },
          "resources": [
            {
              "type": "Microsoft.Logic/workflows",
              "apiVersion": "2017-07-01",
              "name": "[parameters('logicAppName')]",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]",
              "identity": {
                "type": "SystemAssigned"
              },
              "properties": {
                "state": "Enabled",
                "definition": {
                  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                  "contentVersion": "1.0.0.0",
                  "parameters": {
                    "$connections": {
                      "defaultValue": {},
                      "type": "Object"
                    }
                  },
                  "triggers": {
                    "When_a_HTTP_request_is_received": {
                      "type": "Request",
                      "kind": "Http",
                      "inputs": {
                        "schema": {
                          "type": "object",
                          "properties": {
                            "Url": {
                              "type": "string"
                            },
                            "Status": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  },
                  "actions": {
                    "Start_Archive_Site_Job": {
                      "runAfter": {
                        "Parse_JSON": [
                          "Succeeded"
                        ]
                      },
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azureautomation']['connectionId']"
                          }
                        },
                        "method": "put",
                        "body": {
                          "properties": {
                            "parameters": {
                              "URL": "@triggerBody()?['Url']",
                              "groupID": "@body('Parse_JSON')?['GroupId']",
                              "status": "@triggerBody()?['Status']",
                              "HubSiteUrl": "@body('Parse_JSON')?['HubSiteUrl']"
                            }
                          }
                        },
                        "path": "[format('/subscriptions/@{{encodeURIComponent(''{0}'')}}/resourceGroups/@{{encodeURIComponent(''{1}'')}}/providers/Microsoft.Automation/automationAccounts/@{{encodeURIComponent(''{2}'')}}/jobs', parameters('subscriptionId'), parameters('resourceGroupName'), parameters('automationAccountName'))]",
                        "queries": {
                          "x-ms-api-version": "2015-10-31",
                          "runbookName": "ArchiveSite",
                          "wait": false
                        }
                      }
                    },
                    "Start_Get_Site_Information_runbook": {
                      "runAfter": {},
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azureautomation']['connectionId']"
                          }
                        },
                        "method": "put",
                        "body": {
                          "properties": {
                            "parameters": {
                              "Url": "@triggerBody()?['Url']"
                            }
                          }
                        },
                        "path": "[format('/subscriptions/@{{encodeURIComponent(''{0}'')}}/resourceGroups/@{{encodeURIComponent(''{1}'')}}/providers/Microsoft.Automation/automationAccounts/@{{encodeURIComponent(''{2}'')}}/jobs', parameters('subscriptionId'), parameters('resourceGroupName'), parameters('automationAccountName'))]",
                        "queries": {
                          "x-ms-api-version": "2015-10-31",
                          "runbookName": "GetSiteInformation",
                          "wait": true
                        }
                      }
                    },
                    "Get_site_information_output": {
                      "runAfter": {
                        "Start_Get_Site_Information_runbook": [
                          "Succeeded"
                        ]
                      },
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azureautomation']['connectionId']"
                          }
                        },
                        "method": "get",
                        "path": "[format('/subscriptions/@{{encodeURIComponent(''{0}'')}}/resourceGroups/@{{encodeURIComponent(''{1}'')}}/providers/Microsoft.Automation/automationAccounts/@{{encodeURIComponent(''{2}'')}}/jobs/@{{encodeURIComponent(body(''Start_Get_Site_Information_runbook'')?[''properties'']?[''jobId''])}}/output', parameters('subscriptionId'), parameters('resourceGroupName'), parameters('automationAccountName'))]",
                        "queries": {
                          "x-ms-api-version": "2015-10-31"
                        }
                      }
                    },
                    "Parse_JSON": {
                      "runAfter": {
                        "Get_site_information_output": [
                          "Succeeded"
                        ]
                      },
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@body('Get_site_information_output')",
                        "schema": {
                          "type": "object",
                          "properties": {
                            "GroupId": {
                              "type": "string"
                            },
                            "SiteTitle": {
                              "type": "string"
                            },
                            "HubSiteUrl": {
                              "type": "string"
                            },
                            "Phase": {
                              "type": "string"
                            },
                            "SiteId": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  },
                  "outputs": {}
                },
                "parameters": {
                  "$connections": {
                    "value": {
                      "azureautomation": {
                        "id": "[format('/subscriptions/{0}/providers/Microsoft.Web/locations/{1}/managedApis/azureautomation', parameters('subscriptionId'), parameters('location'))]",
                        "connectionId": "[parameters('automationConnectionId')]",
                        "connectionName": "azureautomation",
                        "connectionProperties": {
                          "authentication": {
                            "type": "ManagedServiceIdentity"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          ],
          "outputs": {
            "logicAppId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]"
            },
            "logicAppName": {
              "type": "string",
              "value": "[parameters('logicAppName')]"
            },
            "triggerUrl": {
              "type": "string",
              "value": "[listCallbackURL(resourceId('Microsoft.Logic/workflows/triggers', parameters('logicAppName'), 'When_a_HTTP_request_is_received'), '2017-07-01').value]"
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Resources/deployments', 'automationAccount-deployment')]",
        "[resourceId('Microsoft.Resources/deployments', 'automation-connection')]"
      ]
    },
    {
      "condition": "[and(contains(parameters('logicAppsToDeploy'), 'PhaseChanged'), parameters('deployAutomationConnector'))]",
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "phaseChanged-logicapp",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "logicAppName": {
            "value": "[variables('phaseChangedLogicAppName')]"
          },
          "location": {
            "value": "[parameters('location')]"
          },
          "automationAccountName": {
            "value": "[variables('automationAccountName')]"
          },
          "automationConnectionId": {
            "value": "[reference(resourceId('Microsoft.Resources/deployments', 'automation-connection'), '2025-04-01').outputs.connectionId.value]"
          },
          "finishedPhaseText": {
            "value": "[parameters('finishedPhaseText')]"
          },
          "tags": {
            "value": "[parameters('tags')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.41.2.15936",
              "templateHash": "6985890028910914066"
            }
          },
          "parameters": {
            "logicAppName": {
              "type": "string",
              "defaultValue": "PhaseChanged",
              "metadata": {
                "description": "Name of the PhaseChanged Logic App"
              }
            },
            "location": {
              "type": "string",
              "defaultValue": "[resourceGroup().location]",
              "metadata": {
                "description": "Location for the logic app"
              }
            },
            "subscriptionId": {
              "type": "string",
              "defaultValue": "[subscription().subscriptionId]",
              "metadata": {
                "description": "Subscription ID"
              }
            },
            "resourceGroupName": {
              "type": "string",
              "defaultValue": "[resourceGroup().name]",
              "metadata": {
                "description": "Resource group name"
              }
            },
            "automationAccountName": {
              "type": "string",
              "metadata": {
                "description": "Name of the automation account"
              }
            },
            "automationConnectionId": {
              "type": "string",
              "metadata": {
                "description": "Connection ID for Azure Automation connection"
              }
            },
            "finishedPhaseText": {
              "type": "string",
              "defaultValue": "Ferdig",
              "metadata": {
                "description": "Localized term for \"Finished\" phase status"
              }
            },
            "tags": {
              "type": "object",
              "defaultValue": {},
              "metadata": {
                "description": "Resource tags"
              }
            }
          },
          "resources": [
            {
              "type": "Microsoft.Logic/workflows",
              "apiVersion": "2017-07-01",
              "name": "[parameters('logicAppName')]",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]",
              "identity": {
                "type": "SystemAssigned"
              },
              "properties": {
                "state": "Enabled",
                "definition": {
                  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                  "contentVersion": "1.0.0.0",
                  "parameters": {
                    "$connections": {
                      "defaultValue": {},
                      "type": "Object"
                    }
                  },
                  "triggers": {
                    "When_a_HTTP_request_is_received": {
                      "type": "Request",
                      "kind": "Http",
                      "inputs": {
                        "schema": {
                          "properties": {
                            "webUrl": {
                              "type": "string"
                            },
                            "apiKey": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        }
                      }
                    }
                  },
                  "actions": {
                    "Start_Site_Information_job": {
                      "runAfter": {},
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azureautomation']['connectionId']"
                          }
                        },
                        "method": "put",
                        "body": {
                          "properties": {
                            "parameters": {
                              "Url": "@triggerBody()?['webUrl']"
                            }
                          }
                        },
                        "path": "[format('/subscriptions/@{{encodeURIComponent(''{0}'')}}/resourceGroups/@{{encodeURIComponent(''{1}'')}}/providers/Microsoft.Automation/automationAccounts/@{{encodeURIComponent(''{2}'')}}/jobs', parameters('subscriptionId'), parameters('resourceGroupName'), parameters('automationAccountName'))]",
                        "queries": {
                          "x-ms-api-version": "2015-10-31",
                          "runbookName": "GetSiteInformation",
                          "wait": true
                        }
                      }
                    },
                    "Parse_SiteInfo_JSON": {
                      "runAfter": {
                        "Get_Site_Information_Output": [
                          "Succeeded"
                        ]
                      },
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@body('Get_Site_Information_Output')",
                        "schema": {
                          "type": "object",
                          "properties": {
                            "GroupId": {
                              "type": "string"
                            },
                            "SiteTitle": {
                              "type": "string"
                            },
                            "HubSiteUrl": {
                              "type": "string"
                            },
                            "Phase": {
                              "type": "string"
                            },
                            "SiteId": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "If_phase_is_Finished": {
                      "actions": {
                        "Archive_Project_Site": {
                          "type": "ApiConnection",
                          "inputs": {
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['azureautomation']['connectionId']"
                              }
                            },
                            "method": "put",
                            "body": {
                              "properties": {
                                "parameters": {
                                  "URL": "@triggerBody()?['webUrl']",
                                  "groupID": "@body('Parse_SiteInfo_JSON')?['GroupId']",
                                  "HubSiteUrl": "@body('Parse_SiteInfo_JSON')?['HubSiteUrl']"
                                }
                              }
                            },
                            "path": "[format('/subscriptions/@{{encodeURIComponent(''{0}'')}}/resourceGroups/@{{encodeURIComponent(''{1}'')}}/providers/Microsoft.Automation/automationAccounts/@{{encodeURIComponent(''{2}'')}}/jobs', parameters('subscriptionId'), parameters('resourceGroupName'), parameters('automationAccountName'))]",
                            "queries": {
                              "x-ms-api-version": "2015-10-31",
                              "runbookName": "ArchiveSite",
                              "wait": false
                            }
                          }
                        }
                      },
                      "runAfter": {
                        "Update_Project_Manager_Field": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {}
                      },
                      "expression": {
                        "and": [
                          {
                            "equals": [
                              "@body('Parse_SiteInfo_JSON')?['Phase']",
                              "[parameters('finishedPhaseText')]"
                            ]
                          }
                        ]
                      },
                      "type": "If"
                    },
                    "Get_Site_Information_Output": {
                      "runAfter": {
                        "Start_Site_Information_job": [
                          "Succeeded"
                        ]
                      },
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azureautomation']['connectionId']"
                          }
                        },
                        "method": "get",
                        "path": "[format('/subscriptions/@{{encodeURIComponent(''{0}'')}}/resourceGroups/@{{encodeURIComponent(''{1}'')}}/providers/Microsoft.Automation/automationAccounts/@{{encodeURIComponent(''{2}'')}}/jobs/@{{encodeURIComponent(body(''Start_Site_Information_job'')?[''properties'']?[''jobId''])}}/output', parameters('subscriptionId'), parameters('resourceGroupName'), parameters('automationAccountName'))]",
                        "queries": {
                          "x-ms-api-version": "2015-10-31"
                        }
                      }
                    },
                    "Update_Project_Manager_Field": {
                      "runAfter": {
                        "Parse_SiteInfo_JSON": [
                          "Succeeded"
                        ]
                      },
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azureautomation']['connectionId']"
                          }
                        },
                        "method": "put",
                        "body": {
                          "properties": {
                            "parameters": {
                              "Url": "@triggerBody()?['webUrl']",
                              "HubSiteUrl": "@body('Parse_SiteInfo_JSON')?['HubSiteUrl']"
                            }
                          }
                        },
                        "path": "[format('/subscriptions/@{{encodeURIComponent(''{0}'')}}/resourceGroups/@{{encodeURIComponent(''{1}'')}}/providers/Microsoft.Automation/automationAccounts/@{{encodeURIComponent(''{2}'')}}/jobs', parameters('subscriptionId'), parameters('resourceGroupName'), parameters('automationAccountName'))]",
                        "queries": {
                          "x-ms-api-version": "2015-10-31",
                          "runbookName": "UpdateProjectManager",
                          "wait": true
                        }
                      }
                    }
                  },
                  "outputs": {}
                },
                "parameters": {
                  "$connections": {
                    "value": {
                      "azureautomation": {
                        "id": "[format('/subscriptions/{0}/providers/Microsoft.Web/locations/{1}/managedApis/azureautomation', parameters('subscriptionId'), parameters('location'))]",
                        "connectionId": "[parameters('automationConnectionId')]",
                        "connectionName": "azureautomation",
                        "connectionProperties": {
                          "authentication": {
                            "type": "ManagedServiceIdentity"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          ],
          "outputs": {
            "logicAppId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]"
            },
            "logicAppName": {
              "type": "string",
              "value": "[parameters('logicAppName')]"
            },
            "triggerUrl": {
              "type": "string",
              "value": "[listCallbackURL(resourceId('Microsoft.Logic/workflows/triggers', parameters('logicAppName'), 'When_a_HTTP_request_is_received'), '2017-07-01').value]"
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Resources/deployments', 'automationAccount-deployment')]",
        "[resourceId('Microsoft.Resources/deployments', 'automation-connection')]"
      ]
    },
    {
      "condition": "[and(and(contains(parameters('logicAppsToDeploy'), 'ProjectInfoChanged'), parameters('deploySharePointConnector')), parameters('deployAutomationConnector'))]",
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "projectInfoChanged-logicapp",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "logicAppName": {
            "value": "[variables('projectInfoChangedLogicAppName')]"
          },
          "location": {
            "value": "[parameters('location')]"
          },
          "automationAccountName": {
            "value": "[variables('automationAccountName')]"
          },
          "sharePointConnectionId": {
            "value": "[reference(resourceId('Microsoft.Resources/deployments', 'sharepoint-connection'), '2025-04-01').outputs.connectionId.value]"
          },
          "automationConnectionId": {
            "value": "[reference(resourceId('Microsoft.Resources/deployments', 'automation-connection'), '2025-04-01').outputs.connectionId.value]"
          },
          "hubSiteUrl": {
            "value": "[parameters('hubSiteUrl')]"
          },
          "projectListGuid": {
            "value": "[parameters('projectListGuid')]"
          },
          "listViewGuid": {
            "value": "[parameters('listViewGuid')]"
          },
          "tags": {
            "value": "[parameters('tags')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.41.2.15936",
              "templateHash": "17620086673468012885"
            }
          },
          "parameters": {
            "logicAppName": {
              "type": "string",
              "defaultValue": "ProjectInfoChanged",
              "metadata": {
                "description": "Name of the ProjectInfoChanged Logic App"
              }
            },
            "location": {
              "type": "string",
              "defaultValue": "[resourceGroup().location]",
              "metadata": {
                "description": "Location for the logic app"
              }
            },
            "subscriptionId": {
              "type": "string",
              "defaultValue": "[subscription().subscriptionId]",
              "metadata": {
                "description": "Subscription ID"
              }
            },
            "resourceGroupName": {
              "type": "string",
              "defaultValue": "[resourceGroup().name]",
              "metadata": {
                "description": "Resource group name"
              }
            },
            "automationAccountName": {
              "type": "string",
              "metadata": {
                "description": "Name of the automation account"
              }
            },
            "sharePointConnectionId": {
              "type": "string",
              "metadata": {
                "description": "Connection ID for SharePoint Online connection"
              }
            },
            "automationConnectionId": {
              "type": "string",
              "metadata": {
                "description": "Connection ID for Azure Automation connection"
              }
            },
            "hubSiteUrl": {
              "type": "string",
              "metadata": {
                "description": "SharePoint hub site URL (e.g., https://contoso.sharepoint.com/sites/projectportal)"
              }
            },
            "projectListGuid": {
              "type": "string",
              "metadata": {
                "description": "SharePoint project list GUID"
              }
            },
            "listViewGuid": {
              "type": "string",
              "metadata": {
                "description": "SharePoint list view GUID"
              }
            },
            "tags": {
              "type": "object",
              "defaultValue": {},
              "metadata": {
                "description": "Resource tags"
              }
            }
          },
          "resources": [
            {
              "type": "Microsoft.Logic/workflows",
              "apiVersion": "2017-07-01",
              "name": "[parameters('logicAppName')]",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]",
              "identity": {
                "type": "SystemAssigned"
              },
              "properties": {
                "state": "Enabled",
                "definition": {
                  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                  "contentVersion": "1.0.0.0",
                  "parameters": {
                    "$connections": {
                      "defaultValue": {},
                      "type": "Object"
                    }
                  },
                  "triggers": {
                    "When_project_information_changes": {
                      "recurrence": {
                        "interval": 1,
                        "frequency": "Minute"
                      },
                      "evaluatedRecurrence": {
                        "interval": 1,
                        "frequency": "Minute"
                      },
                      "splitOn": "@triggerBody()?['value']",
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                          }
                        },
                        "method": "get",
                        "path": "[format('/datasets/@{{encodeURIComponent(encodeURIComponent(''{0}''))}}/tables/@{{encodeURIComponent(encodeURIComponent(''{1}''))}}/onchangeditems', parameters('hubSiteUrl'), parameters('projectListGuid'))]",
                        "queries": {
                          "view": "[parameters('listViewGuid')]"
                        }
                      },
                      "conditions": []
                    }
                  },
                  "actions": {
                    "Get_project_changes": {
                      "runAfter": {},
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "[format('/datasets/@{{encodeURIComponent(encodeURIComponent(''{0}''))}}/tables/@{{encodeURIComponent(encodeURIComponent(''{1}''))}}/items/@{{encodeURIComponent(encodeURIComponent(triggerBody()?[''ID'']))}}/changes', parameters('hubSiteUrl'), parameters('projectListGuid'))]",
                        "queries": {
                          "since": "@sub(int(triggerOutputs()?['body/{VersionNumber}']),1)",
                          "includeDrafts": false,
                          "view": "[parameters('listViewGuid')]"
                        }
                      }
                    },
                    "Condition_(Manager)": {
                      "actions": {
                        "Update_Project_Manager_Field": {
                          "type": "ApiConnection",
                          "inputs": {
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['azureautomation']['connectionId']"
                              }
                            },
                            "method": "put",
                            "body": {
                              "properties": {
                                "parameters": {
                                  "Url": "@triggerBody()?['GtSiteUrl']",
                                  "HubSiteUrl": "[parameters('hubSiteUrl')]"
                                }
                              }
                            },
                            "path": "[format('/subscriptions/@{{encodeURIComponent(''{0}'')}}/resourceGroups/@{{encodeURIComponent(''{1}'')}}/providers/Microsoft.Automation/automationAccounts/@{{encodeURIComponent(''{2}'')}}/jobs', parameters('subscriptionId'), parameters('resourceGroupName'), parameters('automationAccountName'))]",
                            "queries": {
                              "x-ms-api-version": "2015-10-31",
                              "runbookName": "UpdateProjectManager",
                              "wait": false
                            }
                          }
                        }
                      },
                      "runAfter": {
                        "Get_project_changes": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {}
                      },
                      "expression": {
                        "or": [
                          {
                            "equals": [
                              "@body('Get_project_changes')?['ColumnHasChanged']?['GtVeiPlanningManager']",
                              "@true"
                            ]
                          },
                          {
                            "equals": [
                              "@body('Get_project_changes')?['ColumnHasChanged']?['GtVeiProjectingManager']",
                              "@true"
                            ]
                          },
                          {
                            "equals": [
                              "@body('Get_project_changes')?['ColumnHasChanged']?['GtVeiConstructionManager']",
                              "@true"
                            ]
                          }
                        ]
                      },
                      "type": "If"
                    },
                    "Condition_(Date)": {
                      "actions": {
                        "Update_Project_Manager_Field_1": {
                          "type": "ApiConnection",
                          "inputs": {
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['azureautomation']['connectionId']"
                              }
                            },
                            "method": "put",
                            "body": {
                              "properties": {
                                "parameters": {
                                  "Url": "@triggerBody()?['GtSiteUrl']",
                                  "HubSiteUrl": "[parameters('hubSiteUrl')]"
                                }
                              }
                            },
                            "path": "[format('/subscriptions/@{{encodeURIComponent(''{0}'')}}/resourceGroups/@{{encodeURIComponent(''{1}'')}}/providers/Microsoft.Automation/automationAccounts/@{{encodeURIComponent(''{2}'')}}/jobs', parameters('subscriptionId'), parameters('resourceGroupName'), parameters('automationAccountName'))]",
                            "queries": {
                              "x-ms-api-version": "2015-10-31",
                              "runbookName": "UpdateProjectDates",
                              "wait": false
                            }
                          }
                        }
                      },
                      "runAfter": {
                        "Condition_(Manager)": [
                          "Succeeded",
                          "TimedOut",
                          "Skipped",
                          "Failed"
                        ]
                      },
                      "else": {
                        "actions": {}
                      },
                      "expression": {
                        "or": [
                          {
                            "equals": [
                              "@body('Get_project_changes')?['ColumnHasChanged']?['GtcHandoverDate']",
                              "@true"
                            ]
                          }
                        ]
                      },
                      "type": "If"
                    }
                  },
                  "outputs": {}
                },
                "parameters": {
                  "$connections": {
                    "value": {
                      "sharepointonline": {
                        "id": "[format('/subscriptions/{0}/providers/Microsoft.Web/locations/{1}/managedApis/sharepointonline', parameters('subscriptionId'), parameters('location'))]",
                        "connectionId": "[parameters('sharePointConnectionId')]",
                        "connectionName": "sharepointonline",
                        "connectionProperties": {}
                      },
                      "azureautomation": {
                        "id": "[format('/subscriptions/{0}/providers/Microsoft.Web/locations/{1}/managedApis/azureautomation', parameters('subscriptionId'), parameters('location'))]",
                        "connectionId": "[parameters('automationConnectionId')]",
                        "connectionName": "azureautomation",
                        "connectionProperties": {
                          "authentication": {
                            "type": "ManagedServiceIdentity"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          ],
          "outputs": {
            "logicAppId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]"
            },
            "logicAppName": {
              "type": "string",
              "value": "[parameters('logicAppName')]"
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Resources/deployments', 'automationAccount-deployment')]",
        "[resourceId('Microsoft.Resources/deployments', 'automation-connection')]",
        "[resourceId('Microsoft.Resources/deployments', 'sharepoint-connection')]"
      ]
    },
    {
      "condition": "[and(and(contains(parameters('logicAppsToDeploy'), 'RequestProjectAccess'), parameters('deploySharePointConnector')), parameters('deployOffice365Connector'))]",
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "requestProjectAccess-logicapp",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "logicAppName": {
            "value": "[variables('requestProjectAccessLogicAppName')]"
          },
          "location": {
            "value": "[parameters('location')]"
          },
          "sharePointConnectionId": {
            "value": "[reference(resourceId('Microsoft.Resources/deployments', 'sharepoint-connection'), '2025-04-01').outputs.connectionId.value]"
          },
          "office365ConnectionId": {
            "value": "[reference(resourceId('Microsoft.Resources/deployments', 'office365-connection'), '2025-04-01').outputs.connectionId.value]"
          },
          "tags": {
            "value": "[parameters('tags')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.41.2.15936",
              "templateHash": "7465033731099282194"
            }
          },
          "parameters": {
            "logicAppName": {
              "type": "string",
              "defaultValue": "RequestProjectAccess",
              "metadata": {
                "description": "Name of the RequestProjectAccess Logic App"
              }
            },
            "location": {
              "type": "string",
              "defaultValue": "[resourceGroup().location]",
              "metadata": {
                "description": "Location for the logic app"
              }
            },
            "subscriptionId": {
              "type": "string",
              "defaultValue": "[subscription().subscriptionId]",
              "metadata": {
                "description": "Subscription ID"
              }
            },
            "sharePointConnectionId": {
              "type": "string",
              "metadata": {
                "description": "Connection ID for SharePoint Online connection"
              }
            },
            "office365ConnectionId": {
              "type": "string",
              "metadata": {
                "description": "Connection ID for Office 365 connection"
              }
            },
            "tags": {
              "type": "object",
              "defaultValue": {},
              "metadata": {
                "description": "Resource tags"
              }
            }
          },
          "resources": [
            {
              "type": "Microsoft.Logic/workflows",
              "apiVersion": "2017-07-01",
              "name": "[parameters('logicAppName')]",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]",
              "identity": {
                "type": "SystemAssigned"
              },
              "properties": {
                "state": "Enabled",
                "definition": {
                  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                  "contentVersion": "1.0.0.0",
                  "parameters": {
                    "sendEmail": {
                      "defaultValue": true,
                      "type": "Bool"
                    },
                    "$connections": {
                      "defaultValue": {},
                      "type": "Object"
                    }
                  },
                  "triggers": {
                    "When_an_HTTP_request_is_received": {
                      "type": "Request",
                      "kind": "Http",
                      "inputs": {
                        "method": "POST",
                        "schema": {
                          "type": "object",
                          "properties": {
                            "listName": {
                              "type": "string"
                            },
                            "listId": {
                              "type": "string"
                            },
                            "listTitle": {
                              "type": "string"
                            },
                            "webUrl": {
                              "type": "string"
                            },
                            "siteId": {
                              "type": "string"
                            },
                            "siteTitle": {
                              "type": "string"
                            },
                            "selectedItems": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "GtProjectManager": {
                                    "type": "string"
                                  },
                                  "Author": {
                                    "type": "string"
                                  },
                                  "Editor": {
                                    "type": "string"
                                  },
                                  "FileSystemObjectType": {
                                    "type": "integer"
                                  },
                                  "Id": {
                                    "type": "integer"
                                  },
                                  "ServerRedirectedEmbedUri": {},
                                  "ServerRedirectedEmbedUrl": {
                                    "type": "string"
                                  },
                                  "ContentTypeId": {
                                    "type": "string"
                                  },
                                  "Title": {
                                    "type": "string"
                                  },
                                  "OData__ColorTag": {},
                                  "ComplianceAssetId": {},
                                  "GtProjectFinanceName": {
                                    "type": "string"
                                  },
                                  "GtProjectNumber": {
                                    "type": "string"
                                  },
                                  "GtArchiveReference": {
                                    "type": "string"
                                  },
                                  "GtProjectServiceArea": {
                                    "type": "string"
                                  },
                                  "GtProjectType": {
                                    "type": "string"
                                  },
                                  "GtUNSustDevGoals": {
                                    "type": "string"
                                  },
                                  "GtProjectPhase": {},
                                  "GtProjectManagerId": {
                                    "type": "integer"
                                  },
                                  "GtProjectManagerStringId": {
                                    "type": "string"
                                  },
                                  "GtProjectOwnerId": {},
                                  "GtProjectOwnerStringId": {},
                                  "GtProjectSupportId": {},
                                  "GtProjectSupportStringId": {},
                                  "GtGainsResponsibleId": {},
                                  "GtGainsResponsibleStringId": {},
                                  "GtStartDate": {
                                    "type": "string"
                                  },
                                  "GtEndDate": {
                                    "type": "string"
                                  },
                                  "GtProjectGoals": {
                                    "type": "string"
                                  },
                                  "GtBudgetTotal": {},
                                  "GtCostsTotal": {},
                                  "GtProjectForecast": {},
                                  "GtBudgetLastReportDate": {},
                                  "GtGroupId": {
                                    "type": "string"
                                  },
                                  "GtSiteId": {
                                    "type": "string"
                                  },
                                  "GtSiteUrl": {
                                    "type": "string"
                                  },
                                  "GtLastSyncTime": {},
                                  "GtProjectLifecycleStatus": {
                                    "type": "string"
                                  },
                                  "GtProjectPhaseText": {},
                                  "GtProjectServiceAreaText": {
                                    "type": "string"
                                  },
                                  "GtProjectTypeText": {
                                    "type": "string"
                                  },
                                  "GtUNSustDevGoalsText": {
                                    "type": "string"
                                  },
                                  "GtProjectAdminRoles": {
                                    "type": "string"
                                  },
                                  "GtProjectTemplate": {
                                    "type": "string"
                                  },
                                  "GtParentProjects": {
                                    "type": "string"
                                  },
                                  "GtChildProjects": {
                                    "type": "string"
                                  },
                                  "GtIsParentProject": {
                                    "type": "boolean"
                                  },
                                  "GtIsProgram": {
                                    "type": "boolean"
                                  },
                                  "GtInstalledVersion": {
                                    "type": "string"
                                  },
                                  "GtCurrentVersion": {
                                    "type": "string"
                                  },
                                  "GtBAEndDateOriginal": {},
                                  "GtBAProjectPolitical": {},
                                  "GtBAProjectPoliticalComment": {},
                                  "GtBAProjectPoliticalLink": {},
                                  "GtProjectExtensions": {},
                                  "GtProjectListContent": {},
                                  "ID": {
                                    "type": "integer"
                                  },
                                  "Modified": {
                                    "type": "string"
                                  },
                                  "Created": {
                                    "type": "string"
                                  },
                                  "AuthorId": {
                                    "type": "integer"
                                  },
                                  "EditorId": {
                                    "type": "integer"
                                  },
                                  "OData__UIVersionString": {
                                    "type": "string"
                                  },
                                  "Attachments": {
                                    "type": "boolean"
                                  },
                                  "GUID": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "GtProjectManager",
                                  "Author",
                                  "Editor",
                                  "FileSystemObjectType",
                                  "Id",
                                  "ServerRedirectedEmbedUri",
                                  "ServerRedirectedEmbedUrl",
                                  "ContentTypeId",
                                  "Title",
                                  "OData__ColorTag",
                                  "ComplianceAssetId",
                                  "GtProjectFinanceName",
                                  "GtProjectNumber",
                                  "GtArchiveReference",
                                  "GtProjectServiceArea",
                                  "GtProjectType",
                                  "GtUNSustDevGoals",
                                  "GtProjectPhase",
                                  "GtProjectManagerId",
                                  "GtProjectManagerStringId",
                                  "GtProjectOwnerId",
                                  "GtProjectOwnerStringId",
                                  "GtProjectSupportId",
                                  "GtProjectSupportStringId",
                                  "GtGainsResponsibleId",
                                  "GtGainsResponsibleStringId",
                                  "GtStartDate",
                                  "GtEndDate",
                                  "GtProjectGoals",
                                  "GtBudgetTotal",
                                  "GtCostsTotal",
                                  "GtProjectForecast",
                                  "GtBudgetLastReportDate",
                                  "GtGroupId",
                                  "GtSiteId",
                                  "GtSiteUrl",
                                  "GtLastSyncTime",
                                  "GtProjectLifecycleStatus",
                                  "GtProjectPhaseText",
                                  "GtProjectServiceAreaText",
                                  "GtProjectTypeText",
                                  "GtUNSustDevGoalsText",
                                  "GtProjectAdminRoles",
                                  "GtProjectTemplate",
                                  "GtParentProjects",
                                  "GtChildProjects",
                                  "GtIsParentProject",
                                  "GtIsProgram",
                                  "GtInstalledVersion",
                                  "GtCurrentVersion",
                                  "GtBAEndDateOriginal",
                                  "GtBAProjectPolitical",
                                  "GtBAProjectPoliticalComment",
                                  "GtBAProjectPoliticalLink",
                                  "GtProjectExtensions",
                                  "GtProjectListContent",
                                  "ID",
                                  "Modified",
                                  "Created",
                                  "AuthorId",
                                  "EditorId",
                                  "OData__UIVersionString",
                                  "Attachments",
                                  "GUID"
                                ]
                              }
                            },
                            "currentUser": {
                              "type": "object",
                              "properties": {
                                "displayName": {
                                  "type": "string"
                                },
                                "email": {
                                  "type": "string"
                                },
                                "loginName": {
                                  "type": "string"
                                }
                              }
                            },
                            "timestamp": {
                              "type": "string"
                            },
                            "actionName": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  },
                  "actions": {
                    "Iterate_Projects": {
                      "foreach": "@triggerBody()?['selectedItems']",
                      "actions": {
                        "Get_Project_Manager": {
                          "type": "Query",
                          "inputs": {
                            "from": "@body('Build_Users_array')",
                            "where": "@equals(items('Iterate_Projects')?['GtProjectManagerId'], item()?['ID'])"
                          }
                        },
                        "Append_to_projectArray": {
                          "runAfter": {
                            "Get_Project_Owner": [
                              "Succeeded"
                            ]
                          },
                          "type": "AppendToArrayVariable",
                          "inputs": {
                            "name": "ProjectArray",
                            "value": {
                              "Project": "@{item()?['Title']}",
                              "GtProjectOwnerName": "@{first(body('Get_Project_Owner'))?['Title']}",
                              "GtProjectOwnerEmail": "@{first(body('Get_Project_Owner'))?['Email']}",
                              "GtProjectManagerName": "@{first(body('Get_Project_Manager'))?['Title']}",
                              "GtProjectManagerEmail": "@{first(body('Get_Project_Manager'))?['Email']}",
                              "ProjectUrl": "@{item()?['GtSiteUrl']}"
                            }
                          }
                        },
                        "Get_Project_Owner": {
                          "runAfter": {
                            "Get_Project_Manager": [
                              "Succeeded"
                            ]
                          },
                          "type": "Query",
                          "inputs": {
                            "from": "@body('Build_Users_array')",
                            "where": "@equals(items('Iterate_Projects')?['GtProjectOwnerId'], item()?['ID'])"
                          }
                        }
                      },
                      "runAfter": {
                        "Build_Users_array": [
                          "Succeeded"
                        ]
                      },
                      "type": "Foreach"
                    },
                    "Get_Users_(HTTP)": {
                      "runAfter": {
                        "Initialize_variables": [
                          "Succeeded"
                        ]
                      },
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                          }
                        },
                        "method": "post",
                        "body": {
                          "method": "GET",
                          "uri": "/_api/web/siteusers\n"
                        },
                        "path": "/datasets/@{encodeURIComponent(encodeURIComponent(triggerBody()?['webUrl']))}/httprequest"
                      }
                    },
                    "Build_Users_array": {
                      "runAfter": {
                        "Get_Users_(HTTP)": [
                          "Succeeded"
                        ]
                      },
                      "type": "Select",
                      "inputs": {
                        "from": "@body('Get_Users_(HTTP)')?['d']?['results']",
                        "select": {
                          "ID": "@item()?['Id']",
                          "Title": "@item()?['Title']",
                          "Email": "@item()?['Email']"
                        }
                      }
                    },
                    "Initialize_variables": {
                      "runAfter": {},
                      "type": "InitializeVariable",
                      "inputs": {
                        "variables": [
                          {
                            "name": "projectArray",
                            "type": "array"
                          },
                          {
                            "name": "approvers",
                            "type": "array"
                          }
                        ]
                      }
                    },
                    "For_the_Project": {
                      "foreach": "@variables('ProjectArray')",
                      "actions": {
                        "Send_approval_email_one_project": {
                          "runAfter": {
                            "If_manager_not_empty": [
                              "Succeeded"
                            ]
                          },
                          "type": "ApiConnectionWebhook",
                          "inputs": {
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['office365']['connectionId']"
                              }
                            },
                            "body": {
                              "NotificationUrl": "@listCallbackUrl()",
                              "Message": {
                                "To": "@join(variables('approvers'), ';')",
                                "HeaderText": "Tilgangsforespørsel @{items('For_the_Project')?['Project']}.",
                                "Body": "Hei,\n\n@{triggerBody()?['currentUser']?['displayName']} (@{triggerBody()?['currentUser']?['email']}) har forespurt tilgang i @{items('For_the_Project')?['Project']}.",
                                "Importance": "Normal",
                                "UseOnlyHTMLMessage": false,
                                "HideHTMLMessage": true,
                                "ShowHTMLConfirmationDialog": false,
                                "Subject": "Tilgangsforespørsel @{items('For_the_Project')?['Project']}.",
                                "Options": "Godkjenn,Avslå"
                              }
                            },
                            "path": "/approvalmail/$subscriptions"
                          }
                        },
                        "If_owner_not_empty": {
                          "actions": {
                            "Append_Owner_to_approvers": {
                              "type": "AppendToArrayVariable",
                              "inputs": {
                                "name": "approvers",
                                "value": "@items('For_the_Project')?['GtProjectOwnerEmail']"
                              }
                            }
                          },
                          "else": {
                            "actions": {}
                          },
                          "expression": {
                            "and": [
                              {
                                "equals": [
                                  "@not(empty(items('For_the_Project')?['GtProjectOwnerEmail']))",
                                  "@true"
                                ]
                              }
                            ]
                          },
                          "type": "If"
                        },
                        "If_manager_not_empty": {
                          "actions": {
                            "Append_to_Manager_approvers": {
                              "type": "AppendToArrayVariable",
                              "inputs": {
                                "name": "approvers",
                                "value": "@items('For_the_Project')?['GtProjectManagerEmail']"
                              }
                            }
                          },
                          "runAfter": {
                            "If_owner_not_empty": [
                              "Succeeded"
                            ]
                          },
                          "else": {
                            "actions": {}
                          },
                          "expression": {
                            "and": [
                              {
                                "equals": [
                                  "@not(empty(items('For_the_Project')?['GtProjectManagerEmail']))",
                                  "@true"
                                ]
                              }
                            ]
                          },
                          "type": "If"
                        },
                        "If_Approved": {
                          "actions": {
                            "Get_Visitor_group": {
                              "type": "ApiConnection",
                              "inputs": {
                                "host": {
                                  "connection": {
                                    "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                  }
                                },
                                "method": "post",
                                "body": {
                                  "method": "GET",
                                  "uri": "_api/web?$select=AssociatedVisitorGroup/Id&$expand=AssociatedVisitorGroup"
                                },
                                "path": "/datasets/@{encodeURIComponent(encodeURIComponent(items('For_the_Project')?['ProjectUrl']))}/httprequest"
                              }
                            },
                            "Add_user_to_visitor_group": {
                              "runAfter": {
                                "Ensure_user": [
                                  "Succeeded"
                                ]
                              },
                              "type": "ApiConnection",
                              "inputs": {
                                "host": {
                                  "connection": {
                                    "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                  }
                                },
                                "method": "post",
                                "body": {
                                  "method": "POST",
                                  "uri": "_api/web/sitegroups(@{body('Get_Visitor_group')?['d']?['AssociatedVisitorGroup']?['Id']})/users",
                                  "headers": {
                                    "Accept": "application/json;odata=verbose",
                                    "Content-Type": "application/json;odata=verbose"
                                  },
                                  "body": "{\n  \"__metadata\": { \"type\": \"SP.User\" },\n  \"LoginName\": \"@{body('Ensure_user')?['d']?['LoginName']}\"\n}"
                                },
                                "path": "/datasets/@{encodeURIComponent(encodeURIComponent(items('For_the_Project')?['ProjectUrl']))}/httprequest"
                              }
                            },
                            "Ensure_user": {
                              "runAfter": {
                                "Get_Visitor_group": [
                                  "Succeeded"
                                ]
                              },
                              "type": "ApiConnection",
                              "inputs": {
                                "host": {
                                  "connection": {
                                    "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                  }
                                },
                                "method": "post",
                                "body": {
                                  "method": "POST",
                                  "uri": "_api/web/ensureuser",
                                  "headers": {
                                    "Accept": "application/json;odata=verbose",
                                    "Content-Type": "application/json;odata=verbose"
                                  },
                                  "body": "{ \"logonName\": \"@{triggerBody()?['currentUser']?['loginName']}\" }"
                                },
                                "path": "/datasets/@{encodeURIComponent(encodeURIComponent(items('For_the_Project')?['ProjectUrl']))}/httprequest"
                              }
                            },
                            "Send_approved_email": {
                              "runAfter": {
                                "Add_user_to_visitor_group": [
                                  "Succeeded"
                                ]
                              },
                              "type": "ApiConnection",
                              "inputs": {
                                "host": {
                                  "connection": {
                                    "name": "@parameters('$connections')['office365']['connectionId']"
                                  }
                                },
                                "method": "post",
                                "body": {
                                  "To": "@triggerBody()?['currentUser']?['email']",
                                  "Subject": "Tilgangsforespørsel til @{items('For_the_Project')?['Project']} godkjent",
                                  "Body": "<p class=\"editor-paragraph\">Hei @{triggerBody()?['currentUser']?['displayName']},</p><br><p class=\"editor-paragraph\">Din tilgangsforespørsel til @{items('For_the_Project')?['Project']} er godkjent.</p><br><p class=\"editor-paragraph\"><a href=\"@{items('For_the_Project')?['ProjectUrl']}\" class=\"editor-link\">Trykk her for å gå til prosjektet</a></p>",
                                  "Importance": "Normal"
                                },
                                "path": "/v2/Mail"
                              }
                            }
                          },
                          "runAfter": {
                            "Send_approval_email_one_project": [
                              "Succeeded"
                            ]
                          },
                          "else": {
                            "actions": {
                              "Send_rejected_email": {
                                "type": "ApiConnection",
                                "inputs": {
                                  "host": {
                                    "connection": {
                                      "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                  },
                                  "method": "post",
                                  "body": {
                                    "To": "@triggerBody()?['currentUser']?['email']",
                                    "Subject": "Tilgangsforespørsel til @{items('For_the_Project')?['Project']} avslått",
                                    "Body": "<p class=\"editor-paragraph\">Hei @{triggerBody()?['currentUser']?['displayName']},</p><br><p class=\"editor-paragraph\">Din tilgangsforespørsel til  @{items('For_the_Project')?['Project']} er avslått.</p>",
                                    "Importance": "Normal"
                                  },
                                  "path": "/v2/Mail"
                                }
                              }
                            }
                          },
                          "expression": {
                            "and": [
                              {
                                "equals": [
                                  "@body('Send_approval_email_one_project')?['SelectedOption']",
                                  "Godkjenn"
                                ]
                              }
                            ]
                          },
                          "type": "If"
                        }
                      },
                      "runAfter": {
                        "Iterate_Projects": [
                          "Succeeded"
                        ]
                      },
                      "type": "Foreach"
                    }
                  },
                  "outputs": {}
                },
                "parameters": {
                  "$connections": {
                    "value": {
                      "sharepointonline": {
                        "id": "[format('/subscriptions/{0}/providers/Microsoft.Web/locations/{1}/managedApis/sharepointonline', parameters('subscriptionId'), parameters('location'))]",
                        "connectionId": "[parameters('sharePointConnectionId')]",
                        "connectionName": "sharepointonline",
                        "connectionProperties": {}
                      },
                      "office365": {
                        "id": "[format('/subscriptions/{0}/providers/Microsoft.Web/locations/{1}/managedApis/office365', parameters('subscriptionId'), parameters('location'))]",
                        "connectionId": "[parameters('office365ConnectionId')]",
                        "connectionName": "office365",
                        "connectionProperties": {}
                      }
                    }
                  }
                }
              }
            }
          ],
          "outputs": {
            "logicAppId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]"
            },
            "logicAppName": {
              "type": "string",
              "value": "[parameters('logicAppName')]"
            },
            "triggerUrl": {
              "type": "string",
              "value": "[listCallbackURL(resourceId('Microsoft.Logic/workflows/triggers', parameters('logicAppName'), 'When_an_HTTP_request_is_received'), '2017-07-01').value]"
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Resources/deployments', 'office365-connection')]",
        "[resourceId('Microsoft.Resources/deployments', 'sharepoint-connection')]"
      ]
    }
  ],
  "outputs": {
    "automationAccountName": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Resources/deployments', 'automationAccount-deployment'), '2025-04-01').outputs.automationAccountName.value]"
    },
    "automationAccountId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Resources/deployments', 'automationAccount-deployment'), '2025-04-01').outputs.automationAccountId.value]"
    },
    "managedIdentityPrincipalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Resources/deployments', 'automationAccount-deployment'), '2025-04-01').outputs.managedIdentityPrincipalId.value]"
    },
    "sharePointConnectionId": {
      "type": "string",
      "value": "[if(parameters('deploySharePointConnector'), reference(resourceId('Microsoft.Resources/deployments', 'sharepoint-connection'), '2025-04-01').outputs.connectionId.value, '')]"
    },
    "automationConnectionId": {
      "type": "string",
      "value": "[if(parameters('deployAutomationConnector'), reference(resourceId('Microsoft.Resources/deployments', 'automation-connection'), '2025-04-01').outputs.connectionId.value, '')]"
    },
    "office365ConnectionId": {
      "type": "string",
      "value": "[if(parameters('deployOffice365Connector'), reference(resourceId('Microsoft.Resources/deployments', 'office365-connection'), '2025-04-01').outputs.connectionId.value, '')]"
    },
    "changeArchiveStateLogicAppId": {
      "type": "string",
      "value": "[if(and(contains(parameters('logicAppsToDeploy'), 'ChangeArchiveState'), parameters('deployAutomationConnector')), reference(resourceId('Microsoft.Resources/deployments', 'changeArchiveState-logicapp'), '2025-04-01').outputs.logicAppId.value, '')]"
    },
    "changeArchiveStateTriggerUrl": {
      "type": "string",
      "value": "[if(and(contains(parameters('logicAppsToDeploy'), 'ChangeArchiveState'), parameters('deployAutomationConnector')), reference(resourceId('Microsoft.Resources/deployments', 'changeArchiveState-logicapp'), '2025-04-01').outputs.triggerUrl.value, '')]"
    },
    "phaseChangedLogicAppId": {
      "type": "string",
      "value": "[if(and(contains(parameters('logicAppsToDeploy'), 'PhaseChanged'), parameters('deployAutomationConnector')), reference(resourceId('Microsoft.Resources/deployments', 'phaseChanged-logicapp'), '2025-04-01').outputs.logicAppId.value, '')]"
    },
    "phaseChangedTriggerUrl": {
      "type": "string",
      "value": "[if(and(contains(parameters('logicAppsToDeploy'), 'PhaseChanged'), parameters('deployAutomationConnector')), reference(resourceId('Microsoft.Resources/deployments', 'phaseChanged-logicapp'), '2025-04-01').outputs.triggerUrl.value, '')]"
    },
    "projectInfoChangedLogicAppId": {
      "type": "string",
      "value": "[if(and(and(contains(parameters('logicAppsToDeploy'), 'ProjectInfoChanged'), parameters('deploySharePointConnector')), parameters('deployAutomationConnector')), reference(resourceId('Microsoft.Resources/deployments', 'projectInfoChanged-logicapp'), '2025-04-01').outputs.logicAppId.value, '')]"
    },
    "requestProjectAccessLogicAppId": {
      "type": "string",
      "value": "[if(and(and(contains(parameters('logicAppsToDeploy'), 'RequestProjectAccess'), parameters('deploySharePointConnector')), parameters('deployOffice365Connector')), reference(resourceId('Microsoft.Resources/deployments', 'requestProjectAccess-logicapp'), '2025-04-01').outputs.logicAppId.value, '')]"
    },
    "requestProjectAccessTriggerUrl": {
      "type": "string",
      "value": "[if(and(and(contains(parameters('logicAppsToDeploy'), 'RequestProjectAccess'), parameters('deploySharePointConnector')), parameters('deployOffice365Connector')), reference(resourceId('Microsoft.Resources/deployments', 'requestProjectAccess-logicapp'), '2025-04-01').outputs.triggerUrl.value, '')]"
    },
    "deploymentSummary": {
      "type": "object",
      "value": {
        "automationAccount": "[variables('automationAccountName')]",
        "runbooksDeployed": "[parameters('runbooksToDeploy')]",
        "logicAppsDeployed": "[parameters('logicAppsToDeploy')]",
        "sharePointConnectorDeployed": "[parameters('deploySharePointConnector')]",
        "automationConnectorDeployed": "[parameters('deployAutomationConnector')]",
        "office365ConnectorDeployed": "[parameters('deployOffice365Connector')]"
      }
    }
  }
}